body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    background-image:url(fotoperpus.jpeg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    background-color: #000000;
    color: white;
    padding: 15px 20px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); 
    text-align: center;
}

h1 {
    font-size: 52px;
    color: #f7f2f1;
    font-weight: 600;
}


.btn {
    display: inline-block;
    padding: 18px 36px;
    margin-top: 30px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #000000;
    transform: scale(1.05);
}